# Clinical Trials Search Results

## Strict fusion specific

### A Retrospective Study of EGFR-TKIs,Gefitinib, Erlotinib and Osimertinib in NSCLC Patients Treatment
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT01994057

### ALK Tyrosine Kinase Inhibitors in ALK-rearranged Advanced Squamous Cell Carcinoma
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05014464

### 18F-PD-L1 PET/CT in Nivolumab Treated Patients With NSCLC
- Condition: NSCLC Stage IV
- Status: RECRUITING
- NCT ID: NCT03564197

## Strict gene specific

### Genotyping of Ebus-tbna Supernant Cell-free Dna in Nsclc
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04624373

### Pleural Carcinomatosis Tissue Banking
- Condition: Pleural Effusion, Malignant
- Status: RECRUITING
- NCT ID: NCT04844827

### Prospective Trial Assessing Real World Outcomes Response to Pembro in Black Patients w/ NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06745882

### Plasma Molecular Profiling in ALK Inhibitor Resistant NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04087473

### WX-0593 Combined With Concurrent Chemoradiotherapy in Unresectable Locally Advanced NSCLC
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05351320

### Crizotinib in Treating Patients With Stage IB-IIIA Non-small Cell Lung Cancer That Has Been Removed by Surgery and ALK Fusion Mutations (An ALCHEMIST Treatment Trial)
- Condition: ALK Gene Rearrangement
- Status: RECRUITING
- NCT ID: NCT02201992

### Real World Study of Lolatinib for Advanced ALK+ NSCLC Patients
- Condition: ALK-positive Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06361589

### Pembrolizumab and Chemotherapy Neoadjuvant/Adjuvant of NSCLC
- Condition: Stage IIIB(N2) Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05894889

### A Study of QL1706 Combined With Platinum-containing Chemotherapy in Adjuvant Treatment of Stage II-IIIB Non-small Cell Lung Cancer After Complete Surgical Resection.
- Condition: Carcinoma, Non-Small-Cell Lung
- Status: RECRUITING
- NCT ID: NCT05487391

### Clinical Trial of CD40L-Augmented TIL for Patients With EGFR, ALK, ROS1 or HER2-Driven NSCLC
- Condition: Non Small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05681780

## Strict fusion with testing

No trials found

## Moderate fusion focus

### A Retrospective Study of EGFR-TKIs,Gefitinib, Erlotinib and Osimertinib in NSCLC Patients Treatment
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT01994057

### ALK Tyrosine Kinase Inhibitors in ALK-rearranged Advanced Squamous Cell Carcinoma
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05014464

### 18F-PD-L1 PET/CT in Nivolumab Treated Patients With NSCLC
- Condition: NSCLC Stage IV
- Status: RECRUITING
- NCT ID: NCT03564197

## Moderate gene focus

### Golcadomide and Rituximab as Bridging Therapy for Relapsed or Refractory Aggressive B-cell Non-Hodgkin Lymphoma Before CAR T-cell Therapy
- Condition: Large B-Cell Lymphoma With IRF4 Rearrangement
- Status: RECRUITING
- NCT ID: NCT06834373

### Genotyping of Ebus-tbna Supernant Cell-free Dna in Nsclc
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04624373

### Belantamab Mafodotin In Plasmablastic Lymphoma & ALK+ Large B-Cell Lymphoma
- Condition: Relapsed Plasmablastic Lymphoma
- Status: RECRUITING
- NCT ID: NCT04676360

### A Study of Brigatinib as Preferred First Therapy for Adults With Non-Small Cell Lung Cancer (NSCLC) ENTIRETY
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05735327

### Pleural Carcinomatosis Tissue Banking
- Condition: Pleural Effusion, Malignant
- Status: RECRUITING
- NCT ID: NCT04844827

### Prospective Trial Assessing Real World Outcomes Response to Pembro in Black Patients w/ NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06745882

### Gilteritinib for the Treatment of ALK NSCLC
- Condition: Lung Non-Small Cell Carcinoma
- Status: RECRUITING
- NCT ID: NCT06225427

### Plasma Molecular Profiling in ALK Inhibitor Resistant NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04087473

### WX-0593 Combined With Concurrent Chemoradiotherapy in Unresectable Locally Advanced NSCLC
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05351320

### Crizotinib in Treating Patients With Stage IB-IIIA Non-small Cell Lung Cancer That Has Been Removed by Surgery and ALK Fusion Mutations (An ALCHEMIST Treatment Trial)
- Condition: ALK Gene Rearrangement
- Status: RECRUITING
- NCT ID: NCT02201992

## Moderate with testing

### Dose-painting Radiation for LA-NSCLC
- Condition: Non-small Cell Lung Cancer Stage III
- Status: RECRUITING
- NCT ID: NCT05031533

### Frequency, Clinical Phenotype and Genetic Analysis of Heritable Kidney Cancer Syndromes
- Condition: Renal Tumor Histology
- Status: RECRUITING
- NCT ID: NCT05534854

## Broad fusion

### A Retrospective Study of EGFR-TKIs,Gefitinib, Erlotinib and Osimertinib in NSCLC Patients Treatment
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT01994057

### 18F-PD-L1 PET/CT in Nivolumab Treated Patients With NSCLC
- Condition: NSCLC Stage IV
- Status: RECRUITING
- NCT ID: NCT03564197

## Broad genes

### Golcadomide and Rituximab as Bridging Therapy for Relapsed or Refractory Aggressive B-cell Non-Hodgkin Lymphoma Before CAR T-cell Therapy
- Condition: Large B-Cell Lymphoma With IRF4 Rearrangement
- Status: RECRUITING
- NCT ID: NCT06834373

### Genotyping of Ebus-tbna Supernant Cell-free Dna in Nsclc
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04624373

### Belantamab Mafodotin In Plasmablastic Lymphoma & ALK+ Large B-Cell Lymphoma
- Condition: Relapsed Plasmablastic Lymphoma
- Status: RECRUITING
- NCT ID: NCT04676360

### A Study of Brigatinib as Preferred First Therapy for Adults With Non-Small Cell Lung Cancer (NSCLC) ENTIRETY
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05735327

### Pleural Carcinomatosis Tissue Banking
- Condition: Pleural Effusion, Malignant
- Status: RECRUITING
- NCT ID: NCT04844827

### Prospective Trial Assessing Real World Outcomes Response to Pembro in Black Patients w/ NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06745882

### Gilteritinib for the Treatment of ALK NSCLC
- Condition: Lung Non-Small Cell Carcinoma
- Status: RECRUITING
- NCT ID: NCT06225427

### Plasma Molecular Profiling in ALK Inhibitor Resistant NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04087473

### WX-0593 Combined With Concurrent Chemoradiotherapy in Unresectable Locally Advanced NSCLC
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05351320

### Crizotinib in Treating Patients With Stage IB-IIIA Non-small Cell Lung Cancer That Has Been Removed by Surgery and ALK Fusion Mutations (An ALCHEMIST Treatment Trial)
- Condition: ALK Gene Rearrangement
- Status: RECRUITING
- NCT ID: NCT02201992

## Broad with cancer

### Golcadomide and Rituximab as Bridging Therapy for Relapsed or Refractory Aggressive B-cell Non-Hodgkin Lymphoma Before CAR T-cell Therapy
- Condition: Large B-Cell Lymphoma With IRF4 Rearrangement
- Status: RECRUITING
- NCT ID: NCT06834373

### Genotyping of Ebus-tbna Supernant Cell-free Dna in Nsclc
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04624373

### Belantamab Mafodotin In Plasmablastic Lymphoma & ALK+ Large B-Cell Lymphoma
- Condition: Relapsed Plasmablastic Lymphoma
- Status: RECRUITING
- NCT ID: NCT04676360

### A Study of Brigatinib as Preferred First Therapy for Adults With Non-Small Cell Lung Cancer (NSCLC) ENTIRETY
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05735327

### Pleural Carcinomatosis Tissue Banking
- Condition: Pleural Effusion, Malignant
- Status: RECRUITING
- NCT ID: NCT04844827

### Prospective Trial Assessing Real World Outcomes Response to Pembro in Black Patients w/ NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06745882

### Gilteritinib for the Treatment of ALK NSCLC
- Condition: Lung Non-Small Cell Carcinoma
- Status: RECRUITING
- NCT ID: NCT06225427

### Plasma Molecular Profiling in ALK Inhibitor Resistant NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04087473

### WX-0593 Combined With Concurrent Chemoradiotherapy in Unresectable Locally Advanced NSCLC
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05351320

### Crizotinib in Treating Patients With Stage IB-IIIA Non-small Cell Lung Cancer That Has Been Removed by Surgery and ALK Fusion Mutations (An ALCHEMIST Treatment Trial)
- Condition: ALK Gene Rearrangement
- Status: RECRUITING
- NCT ID: NCT02201992

## Combined fusion and testing

No trials found

## Combined genes and cancer

### Golcadomide and Rituximab as Bridging Therapy for Relapsed or Refractory Aggressive B-cell Non-Hodgkin Lymphoma Before CAR T-cell Therapy
- Condition: Large B-Cell Lymphoma With IRF4 Rearrangement
- Status: RECRUITING
- NCT ID: NCT06834373

### Genotyping of Ebus-tbna Supernant Cell-free Dna in Nsclc
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04624373

### Belantamab Mafodotin In Plasmablastic Lymphoma & ALK+ Large B-Cell Lymphoma
- Condition: Relapsed Plasmablastic Lymphoma
- Status: RECRUITING
- NCT ID: NCT04676360

### A Study of Brigatinib as Preferred First Therapy for Adults With Non-Small Cell Lung Cancer (NSCLC) ENTIRETY
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05735327

### Pleural Carcinomatosis Tissue Banking
- Condition: Pleural Effusion, Malignant
- Status: RECRUITING
- NCT ID: NCT04844827

### Prospective Trial Assessing Real World Outcomes Response to Pembro in Black Patients w/ NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06745882

### Gilteritinib for the Treatment of ALK NSCLC
- Condition: Lung Non-Small Cell Carcinoma
- Status: RECRUITING
- NCT ID: NCT06225427

### Plasma Molecular Profiling in ALK Inhibitor Resistant NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04087473

### WX-0593 Combined With Concurrent Chemoradiotherapy in Unresectable Locally Advanced NSCLC
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05351320

### Crizotinib in Treating Patients With Stage IB-IIIA Non-small Cell Lung Cancer That Has Been Removed by Surgery and ALK Fusion Mutations (An ALCHEMIST Treatment Trial)
- Condition: ALK Gene Rearrangement
- Status: RECRUITING
- NCT ID: NCT02201992

## Combined fusion and cancer

### A Retrospective Study of EGFR-TKIs,Gefitinib, Erlotinib and Osimertinib in NSCLC Patients Treatment
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT01994057

### ALK Tyrosine Kinase Inhibitors in ALK-rearranged Advanced Squamous Cell Carcinoma
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05014464

### 18F-PD-L1 PET/CT in Nivolumab Treated Patients With NSCLC
- Condition: NSCLC Stage IV
- Status: RECRUITING
- NCT ID: NCT03564197

## Alternative fusion terms

### A Retrospective Study of EGFR-TKIs,Gefitinib, Erlotinib and Osimertinib in NSCLC Patients Treatment
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT01994057

### ALK Tyrosine Kinase Inhibitors in ALK-rearranged Advanced Squamous Cell Carcinoma
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05014464

### 18F-PD-L1 PET/CT in Nivolumab Treated Patients With NSCLC
- Condition: NSCLC Stage IV
- Status: RECRUITING
- NCT ID: NCT03564197

## Alternative cancer terms

### Golcadomide and Rituximab as Bridging Therapy for Relapsed or Refractory Aggressive B-cell Non-Hodgkin Lymphoma Before CAR T-cell Therapy
- Condition: Large B-Cell Lymphoma With IRF4 Rearrangement
- Status: RECRUITING
- NCT ID: NCT06834373

### Genotyping of Ebus-tbna Supernant Cell-free Dna in Nsclc
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04624373

### Belantamab Mafodotin In Plasmablastic Lymphoma & ALK+ Large B-Cell Lymphoma
- Condition: Relapsed Plasmablastic Lymphoma
- Status: RECRUITING
- NCT ID: NCT04676360

### A Study of Brigatinib as Preferred First Therapy for Adults With Non-Small Cell Lung Cancer (NSCLC) ENTIRETY
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05735327

### Pleural Carcinomatosis Tissue Banking
- Condition: Pleural Effusion, Malignant
- Status: RECRUITING
- NCT ID: NCT04844827

### Prospective Trial Assessing Real World Outcomes Response to Pembro in Black Patients w/ NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06745882

### Gilteritinib for the Treatment of ALK NSCLC
- Condition: Lung Non-Small Cell Carcinoma
- Status: RECRUITING
- NCT ID: NCT06225427

### Plasma Molecular Profiling in ALK Inhibitor Resistant NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04087473

### WX-0593 Combined With Concurrent Chemoradiotherapy in Unresectable Locally Advanced NSCLC
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05351320

### Crizotinib in Treating Patients With Stage IB-IIIA Non-small Cell Lung Cancer That Has Been Removed by Surgery and ALK Fusion Mutations (An ALCHEMIST Treatment Trial)
- Condition: ALK Gene Rearrangement
- Status: RECRUITING
- NCT ID: NCT02201992

## Alternative testing terms

### Feasibility of Targeted Bronchial Washing for Molecular Testing by Next Generation Sequencing in Early-stage Lung Cancer
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06301295

### Molecular Profiling and Matched Targeted Therapy for Patients With Metastatic Melanoma
- Condition: Melanoma
- Status: RECRUITING
- NCT ID: NCT02645149

### LIquid BIopsies in Patients Presenting Non-small Cell Lung Cancer
- Condition: Carcinoma, Non-Small-Cell Lung
- Status: RECRUITING
- NCT ID: NCT02511288

### Dose-painting Radiation for LA-NSCLC
- Condition: Non-small Cell Lung Cancer Stage III
- Status: RECRUITING
- NCT ID: NCT05031533

### Frequency, Clinical Phenotype and Genetic Analysis of Heritable Kidney Cancer Syndromes
- Condition: Renal Tumor Histology
- Status: RECRUITING
- NCT ID: NCT05534854

## Complex fusion focus

### A Retrospective Study of EGFR-TKIs,Gefitinib, Erlotinib and Osimertinib in NSCLC Patients Treatment
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT01994057

### ALK Tyrosine Kinase Inhibitors in ALK-rearranged Advanced Squamous Cell Carcinoma
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05014464

### 18F-PD-L1 PET/CT in Nivolumab Treated Patients With NSCLC
- Condition: NSCLC Stage IV
- Status: RECRUITING
- NCT ID: NCT03564197

## Complex gene focus

### Genotyping of Ebus-tbna Supernant Cell-free Dna in Nsclc
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04624373

### Pleural Carcinomatosis Tissue Banking
- Condition: Pleural Effusion, Malignant
- Status: RECRUITING
- NCT ID: NCT04844827

### Prospective Trial Assessing Real World Outcomes Response to Pembro in Black Patients w/ NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06745882

### Plasma Molecular Profiling in ALK Inhibitor Resistant NSCLC
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT04087473

### WX-0593 Combined With Concurrent Chemoradiotherapy in Unresectable Locally Advanced NSCLC
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT05351320

### Crizotinib in Treating Patients With Stage IB-IIIA Non-small Cell Lung Cancer That Has Been Removed by Surgery and ALK Fusion Mutations (An ALCHEMIST Treatment Trial)
- Condition: ALK Gene Rearrangement
- Status: RECRUITING
- NCT ID: NCT02201992

### Delayed or Upfront Brain RAdiotherapy in Treatment naïve Lung Cancer Patients With Asymptomatic or Minimally Symptomatic Brain Metastases and ALK rEarrangements
- Condition: Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05987644

### Real World Study of Lolatinib for Advanced ALK+ NSCLC Patients
- Condition: ALK-positive Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT06361589

### Pembrolizumab and Chemotherapy Neoadjuvant/Adjuvant of NSCLC
- Condition: Stage IIIB(N2) Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05894889

### A Study of QL1706 Combined With Platinum-containing Chemotherapy in Adjuvant Treatment of Stage II-IIIB Non-small Cell Lung Cancer After Complete Surgical Resection.
- Condition: Carcinoma, Non-Small-Cell Lung
- Status: RECRUITING
- NCT ID: NCT05487391

## Complex testing focus

### Dose-painting Radiation for LA-NSCLC
- Condition: Non-small Cell Lung Cancer Stage III
- Status: RECRUITING
- NCT ID: NCT05031533

### Frequency, Clinical Phenotype and Genetic Analysis of Heritable Kidney Cancer Syndromes
- Condition: Renal Tumor Histology
- Status: RECRUITING
- NCT ID: NCT05534854

## Complex combined

### A Retrospective Study of EGFR-TKIs,Gefitinib, Erlotinib and Osimertinib in NSCLC Patients Treatment
- Condition: Non-small Cell Lung Cancer (NSCLC)
- Status: RECRUITING
- NCT ID: NCT01994057

### ALK Tyrosine Kinase Inhibitors in ALK-rearranged Advanced Squamous Cell Carcinoma
- Condition: Non-small Cell Lung Cancer
- Status: RECRUITING
- NCT ID: NCT05014464

### 18F-PD-L1 PET/CT in Nivolumab Treated Patients With NSCLC
- Condition: NSCLC Stage IV
- Status: RECRUITING
- NCT ID: NCT03564197

## Complex broad

### LIquid BIopsies in Patients Presenting Non-small Cell Lung Cancer
- Condition: Carcinoma, Non-Small-Cell Lung
- Status: RECRUITING
- NCT ID: NCT02511288

### Dose-painting Radiation for LA-NSCLC
- Condition: Non-small Cell Lung Cancer Stage III
- Status: RECRUITING
- NCT ID: NCT05031533

### Frequency, Clinical Phenotype and Genetic Analysis of Heritable Kidney Cancer Syndromes
- Condition: Renal Tumor Histology
- Status: RECRUITING
- NCT ID: NCT05534854

